<div class="container-fluid my-4" id="principal">
  <div class="row align-items-center">
    <div class="col-0 col-sm-2 col-md-3 col-lg-4 col-xl-4">

    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4">
      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-center ">
          <h1 i18n="TituloSignup|Titulo principal de la pagina" class="mb-0 pb-0 fw-bold fst-italic fw-light">New Test</h1>
          <h4 i18n="IndicacionSignup|Enunciado guia para el usuario" class="card-title text-center my-0 py-0">Enter the new test data</h4>
        </div>
        <div class="card-body py-1">          
          <div class="container mt-1">
            <form 
              [formGroup]="testForm"
              (ngSubmit)="!testForm.invalid && createExamen(testForm.value)"
            >
              <div *ngIf="false" class="form-group mx-sm-3 mb-2">
                <label i18n="lblPass1Signup|Etiqueta del campo password1" class="fst-italic fw-bold" for="id_cand">id_cand</label>
                <input
                  readonly
                  novalidate
                  id="id_cand"
                  class="form-control form-control-sm"
                  formControlName="id_cand"
                  i18n-placeholder="holderPass1Signup|placeholder del campo password1"
                  placeholder="Candidate"
                  data-cy="idCandTest"
                />
              </div>

              <div *ngIf="false" class="form-group mx-sm-3 mb-2">
                <label i18n="lblPass1Signup|Etiqueta del campo password1" class="fst-italic fw-bold" for="id_habil">id_habil</label>
                <input
                  readonly
                  novalidate
                  id="id_habil"
                  class="form-control form-control-sm"
                  formControlName="id_habil"
                  i18n-placeholder="holderPass1Signup|placeholder del campo password1"
                  placeholder="id_habil"
                  data-cy="idHabilTest"
                />
              </div>
              
              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblPass1Signup|Etiqueta del campo password1" class="fst-italic fw-bold" for="nom_cand">Candidate</label>
                <div class="input-group input-group-sm mb-3">
                  <input
                    readonly
                    novalidate
                    id="nom_cand"
                    class="form-control form-control-sm"
                    formControlName="nom_cand"
                    i18n-placeholder="holderPass1Signup|placeholder del campo password1"
                    placeholder="Select Candidate"
                    data-cy="nom_candTest"
                    style="display: inline-block;"
                  />
                  <div class="input-group-append">
                      <button data-cy="btnSelCandExamen" (click)="seleccionaCandidato()" class="btn btn-outline-secondary btn-sm" type="button" aria-label="Search">
                      <span><i class="bi bi-search"></i></span>
                      </button>
                  </div>
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    testForm.get('nom_cand')!.hasError('required') &&
                    testForm.get('nom_cand')!.touched
                  "
                >
                  Candidate required
                </div>
              </div>  

              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblPass1Signup|Etiqueta del campo password1" class="fst-italic fw-bold" for="nom_habil">Tech Skill</label>
                <div class="input-group input-group-sm mb-3">
                  <input
                    readonly
                    novalidate
                    id="nom_habil"
                    class="form-control form-control-sm"
                    formControlName="nom_habil"
                    i18n-placeholder="holderPass1Signup|placeholder del campo password1"
                    placeholder="Select Skill"
                    data-cy="nom_habilTest"
                    style="display: inline-block;"
                  />
                  <div class="input-group-append">
                      <button data-cy="btnSelHabilExamen" (click)="seleccionaHabilidad()" class="btn btn-outline-secondary btn-sm" type="button" aria-label="Search">
                      <span><i class="bi bi-search"></i></span>
                      </button>
                  </div>
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    testForm.get('nom_habil')!.hasError('required') &&
                    testForm.get('nom_habil')!.touched
                  "
                >
                  Skill required
                </div>
              </div>  

              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblPass1Signup|Etiqueta del campo password1" class="fst-italic fw-bold" for="nota">Valuation</label>
                <input
                  (input)="muestraResultado($event)"
                  novalidate
                  id="nota"
                  class="form-control form-control-sm"
                  formControlName="nota"
                  i18n-placeholder="holderPass1Signup|placeholder del campo zona"
                  placeholder="Valuation"
                  data-cy="valExamenNuevo"
                  type="number"
                  min="0"
                  max="100"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    testForm.get('nota')!.hasError('required') &&
                    testForm.get('nota')!.touched
                  "
                >
                  Valuation required
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    testForm.get('nota')!.hasError('min') &&
                    testForm.get('nota')!.touched
                  "
                >
                  Invalid value: Value must be greater than or equal to zero
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    testForm.get('nota')!.hasError('max') &&
                    testForm.get('nota')!.touched
                  "
                >
                  Invalid value: Value must be less than or equal to one hundred
                </div>
              </div>

              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblPass1Signup|Etiqueta del campo password1" class="fst-italic fw-bold" for="resultado">Result</label>
                <input
                  readonly
                  novalidate
                  id="resultado"
                  class="form-control form-control-sm"
                  formControlName="resultado"
                  i18n-placeholder="holderPass1Signup|placeholder del campo zona"
                  placeholder="Result"
                  data-cy="resExamenNuevo"
                />
              </div>

              <div class="container-fluid text-center">
                <button
                  type="button"
                  class="btn btn-danger mx-3 mt-4"
                  (click)="cancelCreation()"
                  data-cy="cancelTest"
                >
                  <span i18n="msgBotonCancelCreateCompany|Mensaje boton cancelar empresa">Cancel</span>
                </button>           
                <button
                  type="submit"
                  class="btn btn-primary mx-3 mt-4"
                  [disabled]="!testForm.valid"
                  data-cy="createTest"
                >
                  <span i18n="msgBotonCreateCreateCompany|Mensaje boton crear empresa">Create</span>
                </button>
              </div>
            </form>
           </div>
        </div>
        <div class="card-footer text-muted">
         </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3 col-lg-4 col-xl-4">
      
    </div>
  </div>
</div>

