<H1 i18n="TituloConstruccionABC|Titulo principal de la pagina" class="titConstruccion">Page under construction</H1>
<H2 i18n="SubTituloConstruccionABC|SubTitulo de la pagina">This page is curently under construction</H2>
<img i18n-alt="AltTextoConstruccionABC|texto alternativo imagen en construccion" class="img_const" src="../../../assets/imagenes/en_construccion.png" alt="Image of a programmer">
<H2 i18n="msgVolverConstruccionABC|Mensaje vuelva pronto">Please check back soon</H2>
<button
    type="button"
    class="btn btn-danger mx-3 mt-4"
    (click)="back()"
    data-cy="backConstruction"
>
    <span i18n="msgBotonCancelPageConstruction|Mensaje boton cancelar empresa">Back</span>
</button> 