<!-- <button
  type="button"
  class="btn btn-primary mx-3 mt-4"
  (click)="actualizaPerfil()">
  Save
</button>  -->
  

<div class="container-fluid my-0" id="principal">
  <div class="row align-items-left">
    <div class="col-0 col-sm-2 col-md-3 col-lg-0 col-xl-0">

    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-12 col-xl-12">
      <div class="divSup">
        <div class="divIzq">
          <img i18n-alt="txtAltAsigna|Texto alternativo imagen Team" class="logoPag" src="../../../assets/imagenes/equipo.png"  alt="Image of a Team">
        </div>
        <div class="divDer">
          <mat-card class="example-card" >          
            <mat-card-header>            
              <mat-card-title-group>
                <mat-card-title><H1 class="titTarjeta" style="font-weight:bold"><span i18n="tituloAsigna|Titulo Asigna" class="campo">Assignment to work team</span></H1></mat-card-title>
                <mat-card-subtitle><span i18n="subTituloAsigna|Subtitulo Asigna" class="campo"></span><span data-cy="typeCompanyView"></span></mat-card-subtitle>                            
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="cardContent">
              <p class="linea"><span i18n="campoContactoAsigna|campo contacto Asigna" class="campo">Company: </span><span data-cy="contactCompanyView">{{ perfilProy?.nom_empresa! }}</span></p>                
              <p class="linea"><span i18n="campoMailAsigna|campo mail Asigna" class="campo">Project: </span><span data-cy="emailCompanyView">{{ perfilProy?.nom_proyecto! }}</span></p>
              <p class="linea"><span i18n="campoInitialDateAsigna|campo initial date Asigna" class="campo">Initial Date: </span><span data-cy="initialDateCompanyView">{{ perfilProy?.fecha_inicio! }}</span></p>
              <p class="linea"><span i18n="campoEmpresaAsigna|campo phone Asigna" class="campo">Profile: </span><span data-cy="phoneCompanyView">{{ perfilProy?.nom_perfil! }}</span></p>
              <p class="linea"><span i18n="campoPaisAsigna|campo pais Asigna" class="campo">Technical Skills: </span><span data-cy="countryCompanyView">{{ cadHT  }}</span></p>
              <p class="linea"><span i18n="campoCityAsigna|campo ciudad Asigna" class="campo">Soft Skills: </span><span data-cy="cityCompanyView">{{ cadHB  }}</span></p>
              <p class="linea"><span i18n="campoDirAsigna|campo dir Asigna" class="campo">Personal Skills: </span><span data-cy="addressCompanyView">{{ cadHP  }}</span></p>
              
            </mat-card-content>
          </mat-card>  
        </div>
      </div>
      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-left ">
          <div class="row align-items-left">
            <div class="col-12">
              <h2 i18n="titDetalleAsigna|Titulo detalle Asigna" data-cy="subtitleCompanyView" class="mb-0 pb-0 fw-bold fst-italic fw-light">Elected candidate</h2>
              <h4 i18n="subTitDetalleAsigna|SubTitulo detalle Asigna" class="card-title text-left mb-0 pb-0">{{this.nomCand}} - {{this.idCand}}</h4>          
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="this.perfilProy">
            <app-Detail-Match-Prueba (idEvent)="receiveId($event)" (nombreEvent)="receiveNombre($event)" [idPerfil]="this.perfilId" ></app-Detail-Match-Prueba>          
          </div>
        </div>
        <div class="card-footer text-muted">
          <button 
            type="button"
            class="btn btn-danger mx-3 mt-4"
            data-cy="backAsignacion" 
            (click)="volverAtras()" mat-fab extended color="accent">
              <!-- <mat-icon>bookmark</mat-icon> -->
              <span i18n="txtBtnBackAsigna|texto boton volver en Asigna" class="contraste">Back</span>
          </button>
          <button
            type="button"
            class="btn btn-primary mx-3 mt-4"
            (click)="actualizar()"
            data-cy="updateAsignacion">
              <span i18n="msgBotonUpdateAsigna|Mensaje boton Update Asigna">Save</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3 col-lg-0 col-xl-0">
      
    </div>
  </div>
</div>
