<div class="container-fluid my-4" id="principal">
  <div class="row align-items-center">
    <div class="col-0 col-sm-2 col-md-1 col-lg-1 col-xl-2">

    </div>
    <div class="col-12 col-sm-8 col-md-10 col-lg-10 col-xl-8">
      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-center ">
          <h1 class="mb-0 pb-0 fw-bold fst-italic fw-light">Create a new Candidate</h1>
          <h5 class="card-title text-center mb-0 pb-0">Enter the candidate's data</h5>
        </div>
        <div class="card-body">
          <div class="container mt-2">
            <form
              [formGroup]="candidateForm"
              (ngSubmit)="!candidateForm.invalid && createCandidate(candidateForm.value)"
            >
            <div class="row">  
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <!--Nombres-->
                  <label class="text-left fst-italic fw-bold" for="nombres">Names</label>
                  <input
                    novalidate
                    id="nombres"
                    class="form-control form-control-sm"
                    formControlName="nombres"
                    placeholder="Candidate's names"
                  />
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    *ngIf="
                      candidateForm.get('nombres')!.hasError('required') &&
                      candidateForm.get('nombres')!.touched
                    "
                  >
                    Names required
                  </div>
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    *ngIf="candidateForm.get('nombres')!.hasError('minlength')"
                  >
                    Names too short
                  </div>
              </div>

              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="text-left fst-italic fw-bold"  for="apellidos">Last Name</label>
                <input
                  novalidate
                  id="apellidos"
                  class="form-control form-control-sm"
                  formControlName="apellidos"
                  placeholder="Candidate's last name"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('apellidos')!.hasError('required') &&
                    candidateForm.get('apellidos')!.touched
                  "
                >
                  Last Name required
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('apellidos')!.hasError('minlength')"
                >
                  Last Name too short
                </div>
              </div>

              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="text-left fst-italic fw-bold" for="documento">Document</label>
                <input
                  novalidate
                  id="documento"
                  class="form-control form-control-sm"
                  formControlName="documento"
                  placeholder="Candidate's document"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('documento')!.hasError('required') &&
                    candidateForm.get('documento')!.touched
                  "
                >
                  Document required
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('documento')!.hasError('minlength')"
                >
                  Document too short
                </div>
              </div>
          
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="text-left fst-italic fw-bold" for="email">Email</label>
                <input
                  novalidate
                  id="email"
                  class="form-control form-control-sm"
                  formControlName="email"
                  placeholder="Candidate's email"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('email')!.hasError('required') &&
                    candidateForm.get('email')!.touched
                  "
                >
                  Email required
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('email')!.hasError('minlength')"
                >
                  Email too short
                </div>
              </div>

              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="text-left fst-italic fw-bold" for="phone">Phone</label>
                <input
                  novalidate
                  id="phone"
                  class="form-control form-control-sm"
                  formControlName="phone"
                  placeholder="Candidate's phone"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('phone')!.hasError('required') &&
                    candidateForm.get('phone')!.touched
                  "
                >
                  Phone required
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('phone')!.hasError('minlength')"
                >
                  Phone too short
                </div>
              </div>
          
              <!--City-->
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="text-left fst-italic fw-bold" for="ciudad">City</label>
                <input
                  novalidate
                  id="ciudad"
                  class="form-control form-control-sm"
                  formControlName="ciudad"
                  placeholder="Candidate's city"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('ciudad')!.hasError('required') &&
                    candidateForm.get('ciudad')!.touched
                  "
                >
                  City required
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('ciudad')!.hasError('minlength')"
                >
                  City too short
                </div>
              </div>
          
              <!--Address-->
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="text-left fst-italic fw-bold" for="direccion">Address</label>
                <input
                  novalidate
                  id="direccion"
                  class="form-control form-control-sm"
                  formControlName="direccion"
                  placeholder="Candidate's address"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('direccion')!.hasError('required') &&
                    candidateForm.get('direccion')!.touched
                  "
                >
                  Address required
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('direccion')!.hasError('minlength')"
                >
                  Address too short
                </div>
              </div>
          
              <!--Address-->
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="text-left fst-italic fw-bold" for="num_perfil">Profile#</label>
                <input
                  novalidate
                  id="num_perfil"
                  class="form-control form-control-sm"
                  formControlName="num_perfil"
                  placeholder="Profile #"
                />
              </div>
            </div>
            <div class="container-fluid text-center">
              <button
                type="button"
                class="btn btn-danger mx-3 mt-4"
                (click)="cancelCreation()"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="btn btn-primary mx-3 mt-4"
                [disabled]="!candidateForm.valid"
              >
                Create
              </button>

            </div>
            </form>
           </div>
          
        </div>
        <div class="card-footer text-muted">
          
         </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-1 col-lg-1 col-xl-2">
      
    </div>
  </div>
</div>
