<div class="container-fluid my-4" id="principal">
  <div class="row align-items-center">
    <div class="col-0 col-sm-2 col-md-1 col-lg-1 col-xl-2">

    </div>
    <div class="col-12 col-sm-8 col-md-10 col-lg-10 col-xl-8">
      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-center ">
          <h1 i18n="TituloCreateCandidate|Titulo principal de la pagina" class="mb-0 pb-0 fw-bold fst-italic fw-light">Create a new Candidate</h1>
          <h5 i18n="IndicacionCreateCandidate|Enunciado guia para el usuario" class="card-title text-center mb-0 pb-0">Enter the candidate's data</h5>
        </div>
        <div class="card-body">
          <div class="container mt-2">
            <form
              [formGroup]="candidateForm"
              (ngSubmit)="!candidateForm.invalid && createCandidate(candidateForm.value)"
            >
            <div class="row">  
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <!--Nombres-->
                  <label i18n="lblNameCreateCandidate|Etiqueta del campo nombre" class="text-left fst-italic fw-bold" for="nombres">Names</label>
                  <input
                    novalidate
                    id="nombres"
                    class="form-control form-control-sm"
                    i18n-placeholder="holderNameCreateCandidate|placeholder del campo nombre"
                    formControlName="nombres"
                    placeholder="Candidate's names"
                  />
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    *ngIf="
                      candidateForm.get('nombres')!.hasError('required') &&
                      candidateForm.get('nombres')!.touched
                    "
                  >
                  <span i18n="msgErrorReqNameCreateCandidate|Mensaje de error nombre requerido">Names required</span>
                  </div>
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    *ngIf="candidateForm.get('nombres')!.hasError('minlength')"
                  >
                  <span i18n="msgErrorShortNameCreateCandidate|Mensaje de error nombre muy corto">Names too short</span>
                  </div>
              </div>

              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblLastNameCreateCandidate|Etiqueta del campo apellido" class="text-left fst-italic fw-bold"  for="apellidos">Last Name</label>
                <input
                  novalidate
                  id="apellidos"
                  class="form-control form-control-sm"
                  formControlName="apellidos"
                  i18n-placeholder="holderLastNameCreateCandidate|placeholder del campo apellidos"
                  placeholder="Candidate's last name"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('apellidos')!.hasError('required') &&
                    candidateForm.get('apellidos')!.touched
                  "
                >
                <span i18n="msgErrorReqLastCreateCandidate|Mensaje de error apellido requerido">Last Name required</span>  
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('apellidos')!.hasError('minlength')"
                >
                  <span i18n="msgErrorShortLastCreateCandidate|Mensaje de error apellido muy corto">Last Name too short</span>  
                </div>
              </div>

              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblDocumentCreateCandidate|Etiqueta del campo documento" class="text-left fst-italic fw-bold" for="documento">Document</label>
                <input
                  novalidate
                  id="documento"
                  class="form-control form-control-sm"
                  formControlName="documento"
                  i18n-placeholder="holderDocumentCreateCandidate|placeholder del campo documentoi"
                  placeholder="Candidate's document"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('documento')!.hasError('required') &&
                    candidateForm.get('documento')!.touched
                  "
                >
                  <span i18n="msgErrorReqDocumentCreateCandidate|Mensaje de error documento requerido">Document required</span>  
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('documento')!.hasError('minlength')"
                >
                  <span i18n="msgErrorShortDocumentCreateCandidate|Mensaje de error documento muy corto">Document too short</span>  
                </div>
              </div>
          
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblMailCreateCandidate|Etiqueta del campo correo" class="text-left fst-italic fw-bold" for="email">Email</label>
                <input
                  novalidate
                  id="email"
                  class="form-control form-control-sm"
                  formControlName="email"
                  i18n-placeholder="holderMailCreateCandidate|placeholder del campo correo"
                  placeholder="Candidate's email"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('email')!.hasError('required') &&
                    candidateForm.get('email')!.touched
                  "
                >
                <span i18n="msgErrorReqMailCreateCandidate|Mensaje de error email requerido">Email required</span>  
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('email')!.hasError('minlength')"
                >
                  <span i18n="msgErrorShortMailCreateCandidate|Mensaje de error email muy corto">Email too short</span>  
                </div>
              </div>

              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblPhoneCreateCandidate|Etiqueta del campo telefono" class="text-left fst-italic fw-bold" for="phone">Phone</label>
                <input
                  novalidate
                  id="phone"
                  class="form-control form-control-sm"
                  formControlName="phone"
                  i18n-placeholder="holderPhoneCreateCandidate|placeholder del campo telefono"
                  placeholder="Candidate's phone"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('phone')!.hasError('required') &&
                    candidateForm.get('phone')!.touched
                  "
                >
                  <span i18n="msgErrorReqPhoneCreateCandidate|Mensaje de error telefono requerido">Phone required</span>  
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('phone')!.hasError('minlength')"
                >
                <span i18n="msgErrorShortPhoneCreateCandidate|Mensaje de error telefono muy corto">Phone too short</span>  
                </div>
              </div>
          
              <!--City-->
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblCityCreateCandidate|Etiqueta del campo ciudad" class="text-left fst-italic fw-bold" for="ciudad">City</label>
                <input
                  novalidate
                  id="ciudad"
                  class="form-control form-control-sm"
                  formControlName="ciudad"
                  i18n-placeholder="holderCityCreateCandidate|placeholder del campo ciudad"
                  placeholder="Candidate's city"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('ciudad')!.hasError('required') &&
                    candidateForm.get('ciudad')!.touched
                  "
                >
                  <span i18n="msgErrorReqCityCreateCandidate|Mensaje de error ciudad requerida">City required</span>  
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('ciudad')!.hasError('minlength')"
                >
                <span i18n="msgErrorShortCityCreateCandidate|Mensaje de error ciudad muy corta">City too short</span>  
                </div>
              </div>
          
              <!--Address-->
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblAddressCreateCandidate|Etiqueta del campo direccion" class="text-left fst-italic fw-bold" for="direccion">Address</label>
                <input
                  novalidate
                  id="direccion"
                  class="form-control form-control-sm"
                  formControlName="direccion"
                  i18n-placeholder="holderAddressCreateCandidate|placeholder del campo direccion"
                  placeholder="Candidate's address"
                  maxlength="20"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    candidateForm.get('direccion')!.hasError('required') &&
                    candidateForm.get('direccion')!.touched
                  "
                >
                <span i18n="msgErrorReqAddressCreateCandidate|Mensaje de error direccion requerida">Address required</span>  
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="candidateForm.get('direccion')!.hasError('minlength')"
                >
                  <span i18n="msgErrorShortAddressCreateCandidate|Mensaje de error direccion muy corta">Address too short</span>  
                </div>
              </div>
          
              <!--Address-->
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblBirthCreateCandidate|Etiqueta del campo fecha nacimiento" class="text-left fst-italic fw-bold" for="fecha_nac">Birth Date</label>
                <input
                  novalidate
                  id="fecha_nac"
                  class="form-control form-control-sm"
                  formControlName="fecha_nac"
                  i18n-placeholder="holderBirthCreateCandidate|placeholder del campo fecha de nacimiento"
                  placeholder="Candidate's Date Of Birth"
                  type="date"
                />
              </div>
            </div>
            <div class="container-fluid text-center">
              <button
                type="button"
                class="btn btn-danger mx-3 mt-4"
                (click)="cancelCreation()"
              >
              <span i18n="msgBotonCancelCreateCandidate|Mensaje boton cancelar creacion candidato">Cancel</span>
              </button>
              <button
                type="submit"
                class="btn btn-primary mx-3 mt-4"
                [disabled]="!candidateForm.valid"
              >
              <span i18n="msgBotonCreateCreateCandidate|Mensaje boton creacion candidato">Create</span>
              </button>

            </div>
            </form>
           </div>
          
        </div>
        <div class="card-footer text-muted">
          
         </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-1 col-lg-1 col-xl-2">
      
    </div>
  </div>
</div>
