<div class="container-fluid my-0" id="principal">
  <div class="row align-items-left">
    <div class="col-0 col-sm-2 col-md-3 col-lg-0 col-xl-0">

    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-12 col-xl-12">
      <div class="divSup">
        <div class="divIzq">
          <img class="logoPag" src="../../../assets/imagenes/usuario2.png"  alt="Image of a User">
        </div>
        <div class="divDer">
          <mat-card class="example-card" >          
            <mat-card-header>            
              <mat-card-title-group>
                <mat-card-title><H1 class="titTarjeta" style="font-weight:bold">Candidate: {{candidate.apellidos}}, {{candidate.nombres}}</H1></mat-card-title>
                <mat-card-subtitle><span class="campo">E-Mail: </span>{{candidate.email}}</mat-card-subtitle>                            
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="cardContent">
              <p class="linea"><span class="campo">Document: </span>{{ candidate.documento }}</p>
              <p class="linea"><span class="campo">BirthDate: </span>{{ candidate.fecha_nac }}</p>
              <p class="linea"><span class="campo">City: </span>{{ candidate.ciudad }}</p>
              <p class="linea"><span class="campo">Address: </span>{{ candidate.direccion }}</p>
              <p class="linea"><span class="campo">Phone: </span>{{ candidate.phone }}</p>
            </mat-card-content>
          </mat-card>  
        </div>
      </div>
      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-left ">
          <div class="row align-items-left">
            <div class="col-10">
              <h2 class="mb-0 pb-0 fw-bold fst-italic fw-light">Skills List</h2>
              <h5 class="card-title text-left mb-0 pb-0">List of skills registered by this candidate</h5>          
            </div>
            <div class="col-2">
              <button style="float: right" (click)="agregarHabilidad()" mat-fab extended color="primary">
                <mat-icon>plus_one</mat-icon>
                New Skill
              </button>
            </div>
        </div>
        <div class="card-body">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          <section class="example-container mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="listaHabils" matSort matSortDisableClear >
              <ng-container matColumnDef="nombre" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
                <td mat-cell *matCellDef="let habili">
                  {{ habili.nombre}}
                </td>
              </ng-container>
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let habili">
                  {{ habili.tipo}}
                </td>
              </ng-container>
              <ng-container matColumnDef="calificacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
                <td mat-cell *matCellDef="let habili">
                  {{ habili.calificacion }}
                </td>
              </ng-container>
              <ng-container matColumnDef="valoracion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valuation</th>
                <td mat-cell *matCellDef="let habili">
                  {{ habili.valoracion }}
                </td>
              </ng-container>

              <!-- Star Column -->
              <ng-container matColumnDef="star" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>open_in_new</mat-icon>
                      <span><a routerLink="/construcion" > View </a></span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span><a routerLink="/construcion" > Update </a></span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span><a routerLink="/construcion" > Delete </a></span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" 
                           showFirstLastButtons 
                           aria-label="Select Page">
            </mat-paginator>

          </section>
        </div>
        <div class="card-footer text-muted">
          <button (click)="volverAtras()" mat-fab extended color="accent">
            <mat-icon>bookmark</mat-icon>
            Back
          </button>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3 col-lg-0 col-xl-0">
      
    </div>
  </div>
</div>
