<div class="container-fluid my-0" id="principal">
  <div class="row align-items-left">
    <div class="col-0 col-sm-2 col-md-3 col-lg-0 col-xl-0">

    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-12 col-xl-12">
      <div class="divSup">
        <div class="divIzq">
          <img i18n-alt="txtAltViewProject|Texto alternativo imagen ver Proyecto" class="logoPag" src="../../../assets/imagenes/proyecto.png"  alt="Image of a Project">
        </div>
        <div class="divDer">
          <mat-card class="example-card" >           
            <mat-card-header>            
              <mat-card-title-group>
                <mat-card-title><H1 class="titTarjeta" style="font-weight:bold"><span i18n="tituloViewProject|Titulo ver proyecto" class="campo">Project: </span><span data-cy="titleProject">{{ project.nombre }}</span></H1></mat-card-title>
                <mat-card-subtitle><span i18n="subTituloViewProject|Subtitulo ver proyecto" class="campo">Company: </span><span data-cy="companyProject">{{ project.empresa }}</span></mat-card-subtitle>                            
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="cardContent">
              <p class="linea"><span i18n="campoFechaIniViewProject|campo fecha inicial ver proyecto" class="campo">Initial Date: </span><span data-cy="fechaIniProject">{{ project.fecha_inicio}}</span></p>
              <p class="linea"><span i18n="campoDescViewProject|campo descripcion ver proyecto" class="campo">Description: </span><span data-cy="descripProject">{{ project.descripcion }}</span></p>
            </mat-card-content>
          </mat-card>  
        </div>
      </div>

      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-left ">
          <div class="row align-items-left">
            <div class="col-10">
              <h2 i18n="titDetalleViewProject|Titulo detalle ver proyecto" data-cy="subTitleProject" class="mb-0 pb-0 fw-bold fst-italic fw-light">Profiles List</h2>
              <h5 i18n="subTitDetalleViewProject|SubTitulo detalle ver proyecto" data-cy="DescripProject" class="card-title text-left mb-0 pb-0">List of profiles registered by this project</h5>          
            </div>
            <div class="col-2">
              <button data-cy="addProfile" style="float: right" (click)="agregarPerfil()" mat-fab extended color="primary">
                <mat-icon>plus_one</mat-icon>
                <span i18n="txtBtnNewViewProject|texto boton nuevo ver proyecto">New Profile</span>
              </button>
            </div>
        </div>
        <div class="card-body">
          <section class="example-container mat-elevation-z8" tabindex="0">
            <table data-cy="lstProfile" mat-table [dataSource]="lstProfiles">
          
              <!-- Name Column -->
              <ng-container matColumnDef="id" sticky>
                <th mat-header-cell *matHeaderCellDef> <span i18n="headIdViewProject|texto cabecera Id ver proyecto">Id</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
          
              <!-- Position Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> <span i18n="headNameViewProject|texto cabecera nombre ver proyecto">Name</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="candidato">
                <th mat-header-cell *matHeaderCellDef> <span i18n="headCandViewProject|texto cabecera candidato ver proyecto">Candidate</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="lstHT">
                <th mat-header-cell *matHeaderCellDef> <span i18n="headTechViewProject|texto cabecera habilidades tecnicas ver proyecto">Skill Tech</span> </th>
                <td mat-cell *matCellDef="let element"> <p *ngFor="let ht of element.lstHT">{{ ht.nombre }}</p> </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="lstHB">
                <th mat-header-cell *matHeaderCellDef> <span i18n="headSoftViewProject|texto cabecera habilidades blandas ver proyecto">Skill Soft</span> </th>
                <td mat-cell *matCellDef="let element"> <p *ngFor="let hb of element.lstHB">{{ hb.nombre }}</p> </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="lstHP">
                <th mat-header-cell *matHeaderCellDef> <span i18n="headPersViewProject|texto cabecera personalidad ver proyecto">Personality</span></th>
                <td mat-cell *matCellDef="let element"> <p *ngFor="let hp of element.lstHP">{{ hp.nombre }}</p> </td>
              </ng-container>
                     
              <!-- Star Column -->
              <ng-container matColumnDef="star" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>open_in_new</mat-icon>
                      <span><a data-cy="linkMatchProfile" routerLink="/cumplenPerfil/{{this.proyId}}/{{element.id_perfil}}/{{ this.userId }}/{{ this.token }}" > <span i18n="menuMatchViewProject|texto menu Match Profile ver empresa">Match profile</span> </a></span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>open_in_new</mat-icon>
                      <span><a data-cy="linkViewProfile" routerLink="/construcion" > <span i18n="menuVerViewProject|texto menu ver profile ver proyecto">View</span> </a></span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span><a data-cy="linkUpdateProfile" routerLink="/construcion" > <span i18n="menuUpdateViewProject|Menu update profile en ver proyecto">Update</span> </a></span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span><a data-cy="linkDeleteProfile" routerLink="/construcion" > <span i18n="menuDeleteViewProject|Menu borrar profile en ver proyecto">Delete</span> </a></span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </section>
        </div>
        <div class="card-footer text-muted">
          <button data-cy="backProject" (click)="volverAtras()" mat-fab extended color="accent">
            <mat-icon>bookmark</mat-icon>
            <span i18n="txtBtnBackViewProject|texto boton volver en ver proyecto" class="contraste">Back</span>
        </button>
         </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3 col-lg-0 col-xl-0">
      
    </div>
  </div>
</div>

