<div class="container-fluid my-4" id="principal">
  <div class="row align-items-center">
    <div class="col-0 col-sm-2 col-md-3 col-lg-4 col-xl-4">

    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4">
      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-center ">
          <h1 i18n="TituloSignup|Titulo principal de la pagina" class="mb-0 pb-0 fw-bold fst-italic fw-light">Sign Up New User</h1>
          <h5 i18n="IndicacionSignup|Enunciado guia para el usuario" class="card-title text-center my-0 py-0">Enter the data to create a user on the platform and a role</h5>
        </div>
        <div class="card-body py-1">          
          <div class="container mt-1">
            <form
              [formGroup]="signupForm"
              (ngSubmit)="!signupForm.invalid && createUser(signupForm.value)"
            >
              <!--nombre-->
              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblNameSignup|Etiqueta del campo nombre" class="fst-italic fw-bold" for="nombre">Name</label>
                <input
                  novalidate
                  id="nombre"
                  class="form-control form-control-sm"
                  formControlName="nombre"
                  i18n-placeholder="holderNameSignup|placeholder del campo nombre"
                  placeholder="User's name"
                  data-cy="nameSignup"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    signupForm.get('nombre')!.hasError('required') &&
                    signupForm.get('nombre')!.touched
                  "
                >
                  <span i18n="msgErrorReqNameSignup|Mensaje de error nombre requerido">Name required</span>
                </div>
              </div>
          
              <!--Password-->
              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblPass1Signup|Etiqueta del campo password1" class="fst-italic fw-bold" for="password">Password</label>
                <input
                  novalidate
                  id="password"
                  class="form-control form-control-sm"
                  formControlName="password"
                  i18n-placeholder="holderPass1Signup|placeholder del campo password1"
                  placeholder="User's Password"
                  type="password"
                  data-cy="pass1Signup"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    signupForm.get('password')!.hasError('required') &&
                    signupForm.get('password')!.touched
                  "
                >
                  <span i18n="msgErrorReqPass1Signup|Mensaje de error clave1 requerida">Password required</span>
                </div>
              </div>
          
              <!--Password2-->
              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblPass2Signup|Etiqueta del campo password2" class="fst-italic fw-bold" for="password2">Password Repeat</label>
                <input
                  novalidate
                  id="password2"
                  class="form-control form-control-sm"
                  formControlName="password2"
                  i18n-placeholder="holderPass2Signup|placeholder del campo password2"
                  placeholder="User's Password Repeat"
                  type="password"
                  data-cy="pass2Signup"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    signupForm.get('password2')!.hasError('required') &&
                    signupForm.get('password2')!.touched
                  "
                >
                  <span i18n="msgErrorReqPass2Signup|Mensaje de error clave2 requerida">Password required</span>
                </div>
              </div>
          
              <!--Tipo-->
              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblTipoSignup|Etiqueta del campo tipo" class="fst-italic fw-bold" for="tipo">Type</label>
                <select data-cy="roleSignup" novalidate id="tipo" formControlName="tipo" class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm">
                  <option i18n="selectTipo0Signup|Mensaje seleccione el tipo" selected>Select your ROLE</option>
                  <option i18n="selectTipo1Signup|Valor opcion1]" value="CANDIDATO">CANDIDATE</option>
                  <option i18n="selectTipo2Signup|Valor opcion2]" value="EMPRESA">COMPANY</option>
                  <option i18n="selectTipo3Signup|Valor opcion3]" value="EMPLEADO_ABC ">ABCJOBS EMPLOYEE</option>
                </select>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    signupForm.get('tipo')!.hasError('required') &&
                    signupForm.get('tipo')!.touched 
                  "
                >
                  <span i18n="msgErrorReqTipoSignup|Mensaje de error tipo requerido">Type required</span>
                </div>
              </div>
              <div class="container-fluid text-center">
                <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!signupForm.valid"
                data-cy="submitSignup"
              >
                <span i18n="msgBotonCreate|Mensaje boton Create">Create</span>
              </button>
              </div>
            </form>
           </div>
        </div>
        <div class="card-footer text-muted">
          <span i18n="msgHaveSignup|Mensaje enlace tienes una cuenta">Already have an account?</span>
          <a i18n="msgLoginSignup|Mensaje enlace Login" data-cy="loginSignup" class="active contraste" routerLink="/login">Login Here</a>
         </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3 col-lg-4 col-xl-4">
      
    </div>
  </div>
</div>

