.spacer{
    flex: 1 1 auto;
}

.skip-link{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus{
    position: static;
    width: auto;
    height: auto;
}

.footP{
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.page-footer{
    background-color: rgb(210, 206, 240);
}