<header>
  <a href="#main" class="skip-link">Skip to main content</a>
</header>

<main id="main">
  <router-outlet></router-outlet>
</main>

<footer class="page-footer">
  <div class="footer-copyright text-center py-2">
    <a routerLink="" id="colorFooterText2"> ABC Jobs</a>
  </div>
</footer>

<!--

<div class="container-fluid" id="principal">
  <div class="row">
    <div class="col-md-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div id="wrapper">
  <main class="container-fluid">
    <div class="row">
      <button id="BTNAbrir" class="btn btn-danger">Abrir Mensaje</button>
      Contenido del Proyecto
      <button mat-button color="primary">I am an Angular Material button</button>
      <button mat-button color="accent">I am an Angular Material button</button>
      <button mat-button color="warn">I am an Angular Material button</button>
      <br>
      <button mat-raised-button>Raised button</button>
      <button mat-flat-button>Flat button</button>
      <button mat-stroked-button>Stroked button</button>

      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-fab>
        <mat-icon>delete</mat-icon>
      </button>
      <mat-button-toggle-group>
        <mat-button-toggle value="left">
          <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center">
          <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="right">
          <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <div>
        <mat-form-field>
          <input formControlName="name" placeholder="Name" required matInput />
          <mat-error>The name is not valid</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input formControlName="price" placeholder="Price" required matInput />
          <mat-error>The price is required</mat-error>
          <mat-hint>
            Price should be between 1 and 10000
          </mat-hint>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]='false'>Create</button>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Categories</mat-label>
          <mat-select multiple>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Categories</mat-label>
          <mat-select>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-checkbox color="primary" [checked]='true'>Check me</mat-checkbox>

      <mat-form-field>
        <input matInput type="text" placeholder="Production date" [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-toolbar color="primary">
        <span>My e-shop</span>
        <span class="spacer"></span>
        <a mat-flat-button color="primary" routerLink="/products">Products</a>
        <a mat-flat-button color="primary" routerLink="/cart">Cart</a>
        <a mat-flat-button color="primary" routerLink="/about">About Us</a>
      </mat-toolbar>
      <app-SignUp></app-SignUp>
      <app-Login></app-Login>
      <router-outlet></router-outlet>
    </div>
    <app-Candidate-view></app-Candidate-view>

  </main>
</div>

-->
