<div class="container-fluid my-0" id="principal">
  <div class="row align-items-left">
    <div class="col-0 col-sm-2 col-md-3 col-lg-0 col-xl-0">

    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-12 col-xl-12">
      <div class="divSup">
        <div class="divIzq">
          <img i18n-alt="txtAltViewCompany|Texto alternativo imagen Team" class="logoPag" src="../../../assets/imagenes/entrevista.png"  alt="Image of a Team">
        </div>
        <div class="divDer">
          <mat-card class="example-card" >          
            <mat-card-header>            
              <mat-card-title-group>
                <mat-card-title><H1 class="titTarjeta" style="font-weight:bold"><span i18n="tituloViewCompany|Titulo ver empresa" class="campo">Interview</span> - {{entrevista?.id}}</H1></mat-card-title>
                <mat-card-subtitle><span i18n="subTituloViewCompany|Subtitulo ver empresa" class="campo"></span><span data-cy="typeCompanyView"></span></mat-card-subtitle>                            
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="cardContent">
              <p class="linea"><span i18n="campoContactoViewCompany|campo contacto ver empresa" class="campo">Candidate: </span><span data-cy="contactCompanyView">{{ entrevista?.candidato }}-{{entrevista?.id_cand}}</span></p>                
              <p class="linea"><span i18n="campoMailViewCompany|campo mail ver empresa" class="campo">DateTime: </span><span data-cy="emailCompanyView">{{ entrevista?.cuando | date:"medium" }}</span></p>
              <p class="linea"><span i18n="campoInitialDateViewCompany|campo initial date ver empresa" class="campo">Contact: </span><span data-cy="initialDateCompanyView">{{ entrevista?.candidato }}</span></p>
              <p class="linea"><span i18n="campoProfileResultsEV|campo profile ResultsEV" class="campo">Profile: </span><span data-cy="phoneCompanyView">{{ entrevista?.nom_perfil }}</span></p>
              <p class="linea"><span i18n="campoProjectResultsEV|campo Project ResultsEV" class="campo">Project: </span><span data-cy="phoneCompanyView">{{ entrevista?.nom_proyecto }}</span></p>
              <p class="linea"><span i18n="campoCompanyResultsEV|campo company ResultsEV" class="campo">Company: </span><span data-cy="phoneCompanyView">{{ entrevista?.nom_empresa }}</span></p>
              <p class="linea"><span i18n="campoPaisViewCompany|campo pais ver empresa" class="campo">Technical Skills: </span><span data-cy="countryCompanyView">{{ cadHT  }}</span></p>
              <p class="linea"><span i18n="campoCityViewCompany|campo ciudad ver empresa" class="campo">Soft Skills: </span><span data-cy="cityCompanyView">{{ cadHB  }}</span></p>
              <p class="linea"><span i18n="campoDirViewCompany|campo dir ver empresa" class="campo">Personal Skills: </span><span data-cy="addressCompanyView">{{ cadHP  }}</span></p>
              
            </mat-card-content>
          </mat-card>  
        </div>
      </div>
      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-left ">
          <div class="row align-items-left">
            <div class="col-10">
              <h2 i18n="titDetalleViewCompany|Titulo detalle ver empresa" data-cy="subtitleCompanyView" class="mb-0 pb-0 fw-bold fst-italic fw-light">Interview results</h2>
              <!-- <h4 i18n="subTitDetalleViewCompany|SubTitulo detalle ver empresa" class="card-title text-left mb-0 pb-0">{{this.nomCand}} - {{this.idCand}}</h4>           -->
            </div>
            <div class="col-2">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container mt-1">
            <h2 class="text-center">View Results</h2>
            <div class="row align-items-left">
              <div class="col-0 col-sm-1 col-md-1 col-lg-3 col-xl-3">
              </div>
              <div class="col-12 col-sm-10 col-md-10 col-lg-6 col-xl-6">               
                <form 
                  [formGroup]="revForm"
                  (ngSubmit)="!revForm.invalid && updateEntrevista(revForm.value, entrevista.id)"
                >
                <div class="form-group mx-sm-3 mb-2">
                  <label i18n="lblCalifResultEV|Etiqueta del calificacion en ResultEV" class="fst-italic fw-bold" for="calificacion">Valuation</label>
                  <input
                    novalidate
                    readonly
                    id="calificacion"
                    class="form-control form-control-sm"
                    formControlName="calificacion"
                    i18n-placeholder="holderCalifViewEV|placeholder del campo calificacion"
                    placeholder="Valuation"
                    data-cy="CalifViewEV" />
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    *ngIf="
                      revForm.get('calificacion')!.hasError('required') &&
                      revForm.get('calificacion')!.touched
                    "
                  >
                    Valuation required
                  </div>
                </div>
            
                <div class="form-group mx-sm-3 mb-2">
                  <label i18n="lblPass1Signup|Etiqueta del campo password1" class="fst-italic fw-bold" for="anotaciones">Annotations</label>
                  <textarea 
                    novalidate
                    readonly
                    id="anotaciones"
                    class="form-control form-control-sm"
                    formControlName="anotaciones"
                    i18n-placeholder="holderPass1Signup|placeholder del campo password1"
                    placeholder="Annotations"
                    data-cy="pass1Signup"
                    rows="10">
                  </textarea>
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    *ngIf="
                      revForm.get('anotaciones')!.hasError('required') &&
                      revForm.get('anotaciones')!.touched
                    "
                  >
                    Annotations required
                  </div>
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    *ngIf="revForm.get('anotaciones')!.hasError('maxlength')"
                  >
                    Annotations too long
                  </div>
                </div>
                  <div class="container-fluid text-center">
                    <button
                      type="button"
                      class="btn btn-danger mx-3 mt-4"
                      (click)="cancelCreation()"
                      data-cy="cancelEval"
                    >
                      <span i18n="msgBotonCancelCreateCompany|Mensaje boton cancelar empresa">Back</span>
                    </button>           
                    <button *ngIf="false"
                      type="submit"
                      class="btn btn-primary mx-3 mt-4"
                      [disabled]="!revForm.valid"
                      data-cy="createEval"
                    >
                      <span i18n="msgBotonCreateCreateCompany|Mensaje boton crear empresa">Save</span>
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-0 col-sm-1 col-md-1 col-lg-3 col-xl-3">
              </div>
           </div>
          </div>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3 col-lg-0 col-xl-0">
      
    </div>
  </div>
</div>