<div class="container-fluid my-0" id="principal">
  <div class="row align-items-left">
    <div class="col-0 col-sm-2 col-md-3 col-lg-0 col-xl-0">

    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-12 col-xl-12">
      <div class="divSup">
        <div class="divIzq">
          <img i18n-alt="txtAltEVResult|Texto alternativo imagen Team" class="logoPag" src="../../../assets/imagenes/entrevista.png"  alt="Image of a Team">
        </div>
        <div class="divDer">
          <mat-card class="example-card" >          
            <mat-card-header>            
              <mat-card-title-group>
                <mat-card-title><H1 class="titTarjeta" style="font-weight:bold"><span i18n="tituloEVResult|Titulo EV Result" class="campo">Interview</span> - {{entrevista?.id}}</H1></mat-card-title>
                <mat-card-subtitle><span i18n="subTituloEVResult|Subtitulo EV Result" class="campo"></span><span data-cy="typeCompanyView"></span></mat-card-subtitle>                            
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="cardContent">
              <p class="linea"><span i18n="campoContactoEVResult|campo contacto EV Result" class="campo">Candidate: </span><span data-cy="contactCompanyView">{{ entrevista?.candidato }}-{{entrevista?.id_cand}}</span></p>                
              <p class="linea"><span i18n="campoMailEVResult|campo mail EV Result" class="campo">DateTime: </span><span data-cy="emailCompanyView">{{ entrevista?.cuando | date:"medium" }}</span></p>
              <p class="linea"><span i18n="campoInitialDateEVResult|campo initial date EV Result" class="campo">Contact: </span><span data-cy="initialDateCompanyView">{{ entrevista?.candidato }}</span></p>
              <p class="linea"><span i18n="campoProfileEVResult|campo profile ResultsEV" class="campo">Profile: </span><span data-cy="phoneCompanyView">{{ entrevista?.nom_perfil }}</span></p>
              <p class="linea"><span i18n="campoProjectEVResult|campo Project ResultsEV" class="campo">Project: </span><span data-cy="phoneCompanyView">{{ entrevista?.nom_proyecto }}</span></p>
              <p class="linea"><span i18n="campoCompanyEVResult|campo company ResultsEV" class="campo">Company: </span><span data-cy="phoneCompanyView">{{ entrevista?.nom_empresa }}</span></p>
              <p class="linea"><span i18n="campoPaisEVResult|campo pais EVResult" class="campo">Technical Skills: </span><span data-cy="countryCompanyView">{{ cadHT  }}</span></p>
              <p class="linea"><span i18n="campoCityEVResult|campo ciudad EVResult" class="campo">Soft Skills: </span><span data-cy="cityCompanyView">{{ cadHB  }}</span></p>
              <p class="linea"><span i18n="campoDirEVResult|campo dir EVResult" class="campo">Personal Skills: </span><span data-cy="addressCompanyView">{{ cadHP  }}</span></p>
              
            </mat-card-content>
          </mat-card>  
        </div>
      </div>
      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-left ">
          <div class="row align-items-left">
            <div class="col-10">
              <h2 i18n="titDetalleEVResult|Titulo detalle EVResult" data-cy="subtitleCompanyView" class="mb-0 pb-0 fw-bold fst-italic fw-light">Interview results</h2>
              <!-- <h4 i18n="subTitDetalleViewCompany|SubTitulo detalle ver empresa" class="card-title text-left mb-0 pb-0">{{this.nomCand}} - {{this.idCand}}</h4>           -->
            </div>
            <div class="col-2">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container mt-1">
            <h2 i18n="txtEditEVResult|Titulo Edit detalle EVResult" class="text-center">Edit results</h2>
            <div class="row align-items-left">
              <div class="col-0 col-sm-1 col-md-1 col-lg-3 col-xl-3">
              </div>
              <div class="col-12 col-sm-10 col-md-10 col-lg-6 col-xl-6">               
                <form 
                  [formGroup]="revForm"
                  (ngSubmit)="!revForm.invalid && updateEntrevista(revForm.value, entrevista.id)"
                >
                <div class="form-group mx-sm-3 mb-2">
                  <label  i18n="lblCalifEVResult|Etiqueta del calificacion en ResultEV" class="fst-italic fw-bold" for="calificacion">Valuation</label>
                  <select data-cy="valueCalifEVResult" novalidate id="calificacion" formControlName="calificacion" class="form-select form-select-sm" aria-label="Interview Rating" >
                    <option i18n="selectTipo0EVResult|Mensaje seleccione el valor" value="" disabled selected>Select your VALUE</option>
                    <option i18n="selectTipo1EVResult|Valor opcion1]" value="EXCELENTE">EXCELLENT</option>
                    <option i18n="selectTipo2EVResult|Valor opcion2]" value="BUENA">GOOD</option>
                    <option i18n="selectTipo3EVResult|Valor opcion3]" value="REGULAR">FAIR</option>
                    <option i18n="selectTipo4EVResult|Valor opcion4]" value="MALA">POOR</option>
                  </select>
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    *ngIf="
                      revForm.get('calificacion')!.hasError('required') &&
                      revForm.get('calificacion')!.touched
                    "
                  >
                    <span i18n="msgErrorValorRequeridoEVResult|Valor requerido" >Valuation required</span>
                  </div>
                </div>
            
                <div class="form-group mx-sm-3 mb-2">
                  <label i18n="lblAnotacionesEVResult|Etiqueta del campo Anotaciones" class="fst-italic fw-bold" for="anotaciones">Annotations</label>
                  <textarea 
                    novalidate
                    id="anotaciones"
                    class="form-control form-control-sm"
                    formControlName="anotaciones"
                    i18n-placeholder="holderAnotacionesEVResult|placeholder del campo anotaciones"
                    placeholder="Annotations"
                    data-cy="anotaResultEV"
                    rows="10">
                  </textarea>
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    *ngIf="
                      revForm.get('anotaciones')!.hasError('required') &&
                      revForm.get('anotaciones')!.touched
                    "
                  >
                    <span i18n="msgErrorAnotaRequeridaEVResult|Anotaciones requeridas" >Annotations required</span>
                  </div>
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    *ngIf="revForm.get('anotaciones')!.hasError('maxlength')"
                  >
                  <span i18n="msgErrorAnotaLargaEVResult|Anotaciones muy largas" >Annotations too long</span>
                  </div>
                </div>
                  <div class="container-fluid text-center">
                    <button
                      type="button"
                      class="btn btn-danger mx-3 mt-4"
                      (click)="cancelCreation()"
                      data-cy="cancelResultEV"
                    >
                      <span i18n="msgBotonCancelEVResult|Mensaje boton cancelar EV Result">Cancel</span>
                    </button>           
                    <button
                      type="submit"
                      class="btn btn-primary mx-3 mt-4"
                      [disabled]="!revForm.valid"
                      data-cy="createResultEV"
                    >
                      <span i18n="msgBotonCreateCreateEVResult|Mensaje boton crear EV Result">Save</span>
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-0 col-sm-1 col-md-1 col-lg-3 col-xl-3">
              </div>
           </div>
          </div>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3 col-lg-0 col-xl-0">
      
    </div>
  </div>
</div>