<div class="container-fluid my-4" id="principal">
  <div class="row align-items-center">
    <div class="col-0 col-sm-2 col-md-1 col-lg-1 col-xl-2">

    </div>
    <div class="col-12 col-sm-8 col-md-10 col-lg-10 col-xl-8">
      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-center ">
          <h1 i18n="TituloCreateCompany|Titulo principal de la pagina" class="mb-0 pb-0 fw-bold fst-italic fw-light">Create a new Company</h1>
          <h5 i18n="IndicacionCreateCompany|Enunciado guia para el usuario" class="card-title text-center mb-0 pb-0">Enter your company data</h5>
        </div>
        <div class="card-body">
          <div class="container mt-2">
            <form
              [formGroup]="empresaForm"
              (ngSubmit)="!empresaForm.invalid && createCompany(empresaForm.value)"
            >
            <div class="row">  
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblNameCreateCompany|Etiqueta del campo nombre" class="text-left fst-italic fw-bold" for="nombre">Name</label>
                <input
                  novalidate
                  id="nombre"
                  class="form-control form-control-sm"
                  formControlName="nombre"
                  i18n-placeholder="holderNameCreateCompany|placeholder del campo nombre"
                  placeholder="Company's name"
                  data-cy="nameCompany"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    empresaForm.get('nombre')!.hasError('required') &&
                    empresaForm.get('nombre')!.touched
                  "
                >
                <span i18n="msgErrorReqNameCreateCompany|Mensaje de error nombre requerido">Name required</span>
                </div>
              </div>

              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblTypeCreateCompany|Etiqueta del campo tipo" class="text-left fst-italic fw-bold" for="tipo">Type</label>
                <input
                  novalidate
                  id="tipo"
                  class="form-control form-control-sm"
                  formControlName="tipo"
                  i18n-placeholder="holderTypeCreateCompany|placeholder del campo tipo"
                  placeholder="Company's Type"
                  data-cy="typeCompany"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    empresaForm.get('tipo')!.hasError('required') &&
                    empresaForm.get('tipo')!.touched
                  "
                >
                <span i18n="msgErrorReqTypeCreateCompany|Mensaje de error tipo requerido">Type required</span>
                </div>
              </div>

              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblMailCreateCompany|Etiqueta del campo correo electronico" class="text-left fst-italic fw-bold" for="correo">E-Mail</label>
                <input
                  novalidate
                  id="correo"
                  class="form-control form-control-sm"
                  formControlName="correo"
                  i18n-placeholder="holderMailCreateCompany|placeholder del campo mail"
                  placeholder="Company's E-Mail"
                  data-cy="emailCompany"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    empresaForm.get('correo')!.hasError('required') &&
                    empresaForm.get('correo')!.touched
                  "
                >
                  <span i18n="msgErrorReqMailCreateCompany|Mensaje de error correo electronico requerido">E-Mail required</span>
                </div>
              </div>
          
              <!--Cell-->
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblPhoneCreateCompany|Etiqueta del campo numero telefonico" class="text-left fst-italic fw-bold" for="celular">Cell Phone</label>
                <input
                  novalidate
                  id="celular"
                  class="form-control form-control-sm"
                  formControlName="celular"
                  i18n-placeholder="holderPhoneCreateCompany|placeholder del campo phone"
                  placeholder="Company's CellPhone"
                  data-cy="phoneCompany"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    empresaForm.get('celular')!.hasError('required') &&
                    empresaForm.get('celular')!.touched
                  "
                >
                  <span i18n="msgErrorReqPhoneCreateCompany|Mensaje de error numero telefonico requerido">CellPhone required</span>
                </div>
              </div>

              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblContactCreateCompany|Etiqueta del campo Contacto" class="text-left fst-italic fw-bold" for="contacto">Contact</label>
                <input
                  novalidate
                  id="contacto"
                  class="form-control form-control-sm"
                  formControlName="contacto"
                  i18n-placeholder="holderContactCreateCompany|placeholder del campo contacto"
                  placeholder="Contact's name"
                  data-cy="contactCompany"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    empresaForm.get('contacto')!.hasError('required') &&
                    empresaForm.get('contacto')!.touched
                  "
                >
                  <span i18n="msgErrorReqContactoCreateCompany|Mensaje de error contacto requerido">Contact required</span>                  
                </div>
              </div>
          
              <!--Country-->
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblCountryCreateCompany|Etiqueta del campo Pais" class="text-left fst-italic fw-bold" for="pais">Country</label>
                <input
                  novalidate
                  id="pais"
                  class="form-control form-control-sm"
                  formControlName="pais"
                  i18n-placeholder="holderCountryCreateCompany|placeholder del campo pais"
                  placeholder="Company's Country"
                  data-cy="countryCompany"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    empresaForm.get('pais')!.hasError('required') &&
                    empresaForm.get('pais')!.touched
                  "
                >
                  <span i18n="msgErrorReqCountryCreateCompany|Mensaje de error pais requerido">Country required</span>                  
                </div>
              </div>
          
              <!--City-->
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblCityCreateCompany|Etiqueta del campo Ciudad" class="text-left fst-italic fw-bold" for="ciudad">City</label>
                <input
                  novalidate
                  id="ciudad"
                  class="form-control form-control-sm"
                  formControlName="ciudad"
                  i18n-placeholder="holderCityCreateCompany|placeholder del campo ciudad"
                  placeholder="Company's City"
                  data-cy="cityCompany"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    empresaForm.get('ciudad')!.hasError('required') &&
                    empresaForm.get('ciudad')!.touched
                  "
                >
                  <span i18n="msgErrorReqCityCreateCompany|Mensaje de error ciudad requerida">City required</span>                  
                </div>
              </div>
          
              <!--Address-->
              <div class="mb-2 form-group col-0 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label i18n="lblAddressCreateCompany|Etiqueta del campo Direccion" class="text-left fst-italic fw-bold" for="direccion">Address</label>
                <input
                  novalidate
                  id="direccion"
                  class="form-control form-control-sm"
                  formControlName="direccion"
                  i18n-placeholder="holderAddressCreateCompany|placeholder del campo direccion"
                  placeholder="Company's Address"
                  data-cy="addressCompany"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    empresaForm.get('direccion')!.hasError('required') &&
                    empresaForm.get('direccion')!.touched
                  "
                >
                  <span i18n="msgErrorReqAddressCreateCompany|Mensaje de error direccion requerida">Address required</span>                  
                </div>
              </div>
            </div>
            <div class="container-fluid text-center">
              <button
                type="button"
                class="btn btn-danger mx-3 mt-4"
                (click)="cancelCreation()"
                data-cy="cancelCompany"
              >
                <span i18n="msgBotonCancelCreateCompany|Mensaje boton cancelar empresa">Cancel</span>
              </button>
              <button
                type="submit"
                class="btn btn-primary mx-3 mt-4"
                [disabled]="!empresaForm.valid"
                data-cy="createCompany"
              >
                <span i18n="msgBotonCreateCreateCompany|Mensaje boton crear empresa">Create</span>
              </button>

            </div>
            </form>
           </div>
          
        </div>
        <div class="card-footer text-muted">
          
         </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-1 col-lg-1 col-xl-2">
      
    </div>
  </div>
</div>


