<div class="container-fluid my-4" id="principal">
  <div class="row align-items-center">
    <div class="col-0 col-sm-2 col-md-3 col-lg-4 col-xl-4">

    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4">
      <div class="card bg-light">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header text-center ">
          <h1 i18n="TituloCreateProject|Titulo principal de la pagina" class="mb-0 pb-0 fw-bold fst-italic fw-light">Create a new Project</h1>
          <h5 i18n="IndicacionCreateProject|Enunciado guia para el usuario" class="card-title text-center mb-0 pb-0">Enter the project data</h5>
        </div>
        <div class="card-body">
          <div class="container mt-2">
            <form
              [formGroup]="proyForm"
              (ngSubmit)="!proyForm.invalid && createProject(proyForm.value)"
            >
              <!--Nombre-->
              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblNameCreateProject|Etiqueta del campo nombre" class="text-left fst-italic fw-bold" for="nombre">Name</label>
                <input
                  novalidate
                  id="nombre"
                  class="form-control form-control-sm"
                  formControlName="nombre"
                  i18n-placeholder="holderNameCreateProject|placeholder del campo nombre"
                  placeholder="Project's name"
                  data-cy="nameProject"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    proyForm.get('nombre')!.hasError('required') &&
                    proyForm.get('nombre')!.touched
                  "
                >
                  <span i18n="msgErrorReqNameCreateProject|Mensaje de error nombre requerido">Name required</span>
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="proyForm.get('nombre')!.hasError('minlength')"
                >
                  <span i18n="msgErrorShortNameCreateProject|Mensaje de error nombre muy corto">Name too short</span>
                </div>
              </div>
           
              <!--Initial Date-->
              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblDateIniCreateProject|Etiqueta del campo fecha inicial" class="text-left fst-italic fw-bold" for="fecha_inicio">Initial Date</label>
                <input
                  novalidate
                  id="fecha_inicio"
                  class="form-control form-control-sm"
                  formControlName="fecha_inicio"
                  i18n-placeholder="holderDateIniCreateProject|placeholder del campo fecha inicial"
                  placeholder="Initial Date Of Project"
                  type="date"
                  [min]=this.fechaStrMin
                  [max]=this.fechaStrMax
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    proyForm.get('fecha_inicio')!.hasError('required') &&
                    proyForm.get('fecha_inicio')!.touched
                  ">
                  <span i18n="msgErrorReqDateIniCreateProject|Mensaje de error fecha inicio requerida">Initial date required</span>  
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="proyForm.get('fecha_inicio')!.hasError('Invalid Date')
                  ">
                  <span i18n="msgErrorInvalidDateIniCreateProject|Mensaje de error fecha Inicial Invalida">Initial date Invalid</span>  
                </div>
              </div>

              <!--Descripcion-->
              <div class="form-group mx-sm-3 mb-2">
                <label i18n="lblDescCreateProject|Etiqueta del campo descripcion" class="text-left fst-italic fw-bold" for="descripcion">Description</label>
                <input
                  novalidate
                  id="descripcion"
                  class="form-control form-control-sm"
                  i18n-placeholder="holderDescCreateProject|placeholder del campo descripcion"
                  formControlName="descripcion"
                  placeholder="Project's short description"
                  data-cy="descProject"
                />
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    proyForm.get('descripcion')!.hasError('required') &&
                    proyForm.get('descripcion')!.touched
                  "
                >
                  <span i18n="msgErrorReqDescCreateProject|Mensaje de error descripcion requerida">Description required</span>                
                </div>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="proyForm.get('descripcion')!.hasError('maxlength')"
                >
                  <span i18n="msgErrorLongDescCreateProject|Mensaje de error descripcion muy larga">Description too long</span>
                </div>
              </div>

              <button
                type="button"
                class="btn btn-danger mx-3 mt-4"
                (click)="cancelCreation()"
                data-cy="cancelProject"
              >
                <span i18n="msgBotonCancelCreateProject|Mensaje boton cancelar Crear Proyecto">Cancel</span>
              </button>
              <button
                type="submit"
                class="btn btn-primary mx-3 mt-4"
                [disabled]="!proyForm.valid"
                data-cy="submitProject"
              >
                <span i18n="msgBotonCreateCreateProject|Mensaje boton Crear Proyecto">Create</span>
              </button>
            </form>
           </div>
        </div>
        <div class="card-footer text-muted">
          
         </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3 col-lg-4 col-xl-4">
      
    </div>
  </div>
</div>




 <!--
  <p>
  Projecto-crear works!
</p>
<p>this.userId: {{this.userId}}</p>
<p>this.empId: {{this.empId}}</p>
<p>this.token: {{this.token}}</p>
 -->